// Define variables for your color scheme

// For example:
$red: #E45050;
$orange: #FF9F46;
$yellow: #FFD706;
$green: #34EA9D;
$blue: #466FFF;
$purple: #A449FF;
$pink: #FE18CB;
$gray: #2e344a;
$light-gray: #ABABAB;
$gold:  #EEE8AA;
$black:  #424142;
