<div class="container">
  <div class="category-banner">

    <div class="sub-header-text">
      <h5 class="red-text"> Travel </h5>
      <p class="cateogry-text-padding-left"> The Essentails </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="category-card travel-article-1 red-border-top" >
          <div class="category-card-description">
            <h2><span>The Top Places to Travel in the World</span> </h2>
            <p><span>A budget-friendly guide for what to see without the crowds</span></p>
          </div>
          <%= link_to "", travel_path, :class => "category-card-link" %>
        </div>
      </div>
    </div>
  </div>
</div>

