<div class="container">
  <div class="category-banner">

    <div class="introduction-text">
      <h4>
        simple answers to those "i don't know" moments... <br>
      </h4>
    </div>
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card travel red-border" >
          <div class="card-description">
            <h2>Travel</h2>
            <p>where should I explore next</p>
          </div>

          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card career orange-border" >

          <div class="card-description">
            <h2>Career</h2>
            <p>where can I add value</p>
          </div>

          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
       <div class="card soul yellow-border" >

        <div class="card-description">
          <h2>Soul</h2>
          <p>what should I do with my time</p>
        </div>

        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
     <div class="card money green-border" >

      <div class="card-description">
        <h2>Money</h2>
        <p>how do I afford what I need</p>
      </div>

      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="card health blue-border" >

      <div class="card-description">
        <h2>Health</h2>
        <p>how to be my healthiest self</p>
      </div>

      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="card relationship purple-border" >

      <div class="card-description">
        <h2>Relationships</h2>
        <p>how to have meaningful connections</p>
      </div>

      <a class="card-link" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-3">
   <div class="card product pink-border" >
    <div class="card-description">
      <h2>Products</h2>
      <p>what is worth my money</p>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="card homelife gray-border" >
    <div class="card-description">
      <h2>Homelife</h2>
      <p>what makes a home</p>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
</div>
</div>
    <!--
    <div class="red-fill home-cateogry-box opacity home-category-box-left">
      <h6> Travel </h6>
    </div>
    <div class="orange-fill home-cateogry-box opacity">
      <h6> Career </h6>
    </div>
    <div class="yellow-fill home-cateogry-box opacity">
      <h6> Soul </h6>
    </div>
    <div class="green-fill home-cateogry-box opacity">
      <h6> Money </h6>
    </div>
    <div class="blue-fill home-cateogry-box opacity">
      <h6> Health </h6>
    </div>
    <div class="purple-fill home-cateogry-box opacity">
      <h6> Relationships </h6>
    </div>
    <div class="pink-fill home-cateogry-box opacity">
      <h6> Products </h6>
    </div>
    <div class="gray-fill home-cateogry-box opacity home-category-box-right">
      <h6> Homelife </h6>
    </div>
  -->
</div>
</div>
</div>
