.container {
  background-color: white;
  padding: 0px;
}
.category-banner {
  margin-top: 10px;
  margin-bottom: 30px;
}

.home-cateogry-box {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: center;

}

.home-category-box-left{
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}

.home-category-box-right{
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
}

.introduction-text {
  text-align: center;
  padding: 20px;
  letter-spacing: 0.015em;
  word-spacing: 0.015em;
  line-height: 38px;
  margin-bottom: 40px;
}

.introduction-text-category {
  text-align: center;
  //padding: 20px;
  letter-spacing: 0.015em;
  word-spacing: 0.015em;
  line-height: 38px;
  margin-bottom: 60px;
}

.sub-header-text {
  color: $light-gray;
  font-weight: lighter;
   display: flex;
  align-items: top;
  justify-content: flex-start;
}

.cateogry-text-padding-left {
  padding-left: 10px;
}
