.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 2px;
  border-radius: 12px;
  border:none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  font-weight: lighter;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  border: none;
}




// background images (NO color)
.travel {
  background-image: url("https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1693&q=80");

}
.career {
  background-image: url("https://images.unsplash.com/photo-1459180129673-eefb56f79b45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
}
.soul {
  background-image: url("https://images.unsplash.com/photo-1468234847176-28606331216a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2515&q=80");
}
.money {
  background-image: url("https://images.unsplash.com/photo-1522186630107-e5bdf12a43b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1666&q=80");
}
.health {
  background-image: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80");
}
.relationship {
  background-image: url("https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
}
.product {
  background-image: url("https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixlib=rb-1.2.1&auto=format&fit=crop&w=2444&q=80");
}
.homelife {
  background-image: url("https://images.unsplash.com/photo-1524634126442-357e0eac3c14?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
}

// background images with color
.travel-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(242,67,51,0.60)), url("https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1693&q=80");
}
.career-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,159,70,0.60)), url("https://images.unsplash.com/photo-1459180129673-eefb56f79b45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
}
.soul-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,190,11,0.60)), url("https://images.unsplash.com/photo-1468234847176-28606331216a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2515&q=80");
}
.money-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(110,235,131,0.60)), url("https://images.unsplash.com/photo-1522186630107-e5bdf12a43b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1666&q=80");
}
.health-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(70,111,255,0.60)), url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80");
}
.relationship-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(164,73,255,0.60)), url("https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
}
.product-colored {
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(240,140,174,0.60)), url("https://images.unsplash.com/photo-1468495244123-6c6c332eeece?ixlib=rb-1.2.1&auto=format&fit=crop&w=2444&q=80");
}
.homelife-colored{
  background-image: linear-gradient(rgba(255,255,255,0.25), rgba(46,52,74,0.60)), url("https://images.unsplash.com/photo-1524634126442-357e0eac3c14?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
}

.featured-card {
  height: 80px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  //position: relative;
  margin: 2px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-card-description {
  //position: absolute;
  //bottom: 10px;
  text-align: center;
}
.featured-card-description h2 {
  font-size: 18px;
  font-weight: lighter;
}
.featured-card-description p {
  font-size: 14px;
  font-weight: lighter;
}
.featured-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.featured-card-link:hover {
  border: none;
}


.category-card {
  height: 225px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2px;
  border-radius: 6px;
  border:none;
  display: flex;
  align-items: center;
  justify-content: top;
  padding: 40px;
  filter: grayscale(100%);
  margin-bottom: 20px;

}

.category-card:hover{
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: box-shadow 0.2s;
    filter: grayscale(10%);
  -webkit-transition: filter 0.2s;
}

.category-card-description {
  //position: absolute;
  //bottom: 10px
  //left: 10px;
  text-align: center;;
}
.category-card-description h2 {
  font-size: 16px;
  font-weight: lighter;
  //padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: $red;
  padding: 4px;
  border-radius: 2px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  text-align: center;

}

.category-card-description p {
  font-size: 14px;
  color: $light-gray;
  position: absolute;
  bottom: 0px;
  left:  0px;
  right: 0px;
  background-color: white;
  text-shadow: none;
  padding: 0px 10px;
  border-radius: 2px;
  margin-bottom: 0px;
    border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.1);

}

.category-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.category-card-link:hover {
  border: none;
}

// travel article photos
.travel-article-1 {
  background-image: url("https://images.unsplash.com/photo-1461237439866-5a557710c921?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80");
}
.travel-article-2 {
  background-image: url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1308&q=80");
}
.travel-article-3 {
  background-image: url("https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
.travel-article-4 {
  background-image: url("https://images.unsplash.com/photo-1500815845799-7748ca339f27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80");
}
.travel-article-5 {
  background-image: url("https://images.unsplash.com/photo-1475688621402-4257c812d6db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
}
.travel-article-6 {
  background-image: url("https://images.unsplash.com/photo-1484804959297-65e7c19d7c9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1314&q=80");
}

.category-list-photo {
  height: 120px;
  width: 191px;
  border-radius: 3px;
  object-fit: cover !important;
  object-position: center;
  filter: grayscale(50%);
}

.category-list-item {
   display: flex;
  align-items: center;
  margin-bottom: 6px;
  border-radius: 12px;
}

.category-list-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: box-shadow 200ms linear;
    -ms-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
}

.category-list-description {
  flex-grow: 1;
  padding: 0px 20px;
}

.category-list-description h2 {
  font-size: 20px;
}

.category-list-description h3 {
  font-size: 14px;
  color: $light-gray;
  padding: 0px 0px 4px 0px;
  margin: 0px;
}

.reading-time {
  display: flex;
  align-items: center;
}

.reading-time p {
  font-size: 12px;
  color: $light-gray;
  padding: 0px 8px 0px 4px;
  margin: 0px;
  font-style: italic;
}





