// text
.red-text {
  color: $red !important;
}
.orange-text {
  color: $orange !important;
}
.yellow-text {
  color: $yellow !important;
}
.green-text {
  color: $green !important;
}
.blue-text {
  color: $blue !important;
}
.purple-text {
  color: $purple !important;
}
.pink-text {
  color: $pink !important;
}
.gray-text {
  color: $gray !important;
}
.light-gray-text {
  color: $light-gray !important;
}
.gold-text {
  color: $gold !important;
}

// background fill
.red-fill:hover {
  background-color: $red;
 -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $red 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.orange-fill:hover {
  background-color: $orange;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $orange 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.yellow-fill:hover {
  background-color: $yellow;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $yellow 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.green-fill:hover {
  background-color: $green;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $green 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.blue-fill:hover {
  background-color: $blue;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $blue 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.purple-fill:hover {
  background-color: $purple;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $purple 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.pink-fill:hover {
  background-color: $pink;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $pink 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}
.gray-fill:hover {
  background-color: $gray;
   -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    border: $gray 4px solid;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
}

// border-top
.red-border-top:hover {
  border-top: $red solid 15px;
  -webkit-transition: border 0.2s;
}
.orange-border-top:hover {
  border-top: $orange solid 15px;
  -webkit-transition: border 0.2s;
}
.yellow-border-top:hover {
  border-top: $yellow solid 15px;
  -webkit-transition: border 0.2s;
}
.green-border-top:hover {
  border-top: $green solid 15px;
  -webkit-transition: border 0.2s;
}
.blue-border-top:hover {
  border-top: $blue solid 15px;
  -webkit-transition: border 0.2s;
}
.purple-border-top:hover {
  border-top: $purple solid 15px;
  -webkit-transition: border 0.2s;
}
.pink-border-top:hover {
  border-top: $pink solid 15px;
  -webkit-transition: border 0.2s;
}
.gray-border-top:hover {
  border-top: $gray solid 15px;
  -webkit-transition: border 0.2s;
}

// full border
.red-border {
  border: $red solid 15px;
  -webkit-transition: border 0.2s;
}
.orange-border {
  border: $orange solid 15px;
  -webkit-transition: border 0.2s;
}
.yellow-border {
  border: $yellow solid 15px;
  -webkit-transition: border 0.2s;
}
.green-border {
  border: $green solid 15px;
  -webkit-transition: border 0.2s;
}
.blue-border {
  border: $blue solid 15px;
  -webkit-transition: border 0.2s;
}
.purple-border {
  border: $purple solid 15px;
  -webkit-transition: border 0.2s;
}
.pink-border {
  border: $pink solid 15px;
  -webkit-transition: border 0.2s;
}
.gray-border {
  border: $gray solid 15px;
  -webkit-transition: border 0.2s;
}

.white-dissapear:hover {
    background-image: linear-gradient(rgba(255,255,255,0.25), rgba(242,67,51,0.75)), url("https://images.unsplash.com/photo-1461237439866-5a557710c921?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
   -webkit-transition: background-image 250ms linear;
    -ms-transition: background-image 250ms linear;
    transition: background-image 250ms linear;
}


