// text
.red-text {
  color: $red !important;
}
.orange-text {
  color: $orange !important;
}
.yellow-text {
  color: $yellow !important;
}
.green-text {
  color: $green !important;
}
.blue-text {
  color: $blue !important;
}
.purple-text {
  color: $purple !important;
}
.pink-text {
  color: $pink !important;
}
.gray-text {
  color: $gray !important;
}

// background fill
.red-fill {
  background-color: $red;
}
.orange-fill {
  background-color: $orange;
}
.yellow-fill {
  background-color: $yellow;
}
.green-fill {
  background-color: $green;
}
.blue-fill {
  background-color: $blue;
}
.purple-fill {
  background-color: $purple;
}
.pink-fill {
  background-color: $pink;
}
.gray-fill {
  background-color: $gray;
}

// border
.red-border {
  border: $red solid 12px;
}
.orange-border {
  border: $orange solid 12px;
}
.yellow-border {
  border: $yellow solid 12px;
}
.green-border {
  border: $green solid 12px;
}
.blue-border {
  border: $blue solid 12px;
}
.purple-border {
  border: $purple solid 12px;
}
.pink-border {
  border: $pink solid 12px;
}
.gray-border {
  border: $gray solid 12px;
}
